@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-poppins antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}

@layer utilities {
  .container-custom {
    @apply max-w-container mx-auto px-6 md:px-8 lg:px-12;
  }
}


